   #tit,#tit2,#h,#lista,#datos,#res
    {
      margin-left:10%;
      margin-right:10%;
    }
    #tit,#tit2
    {
      margin-left: 20%;
      font-size:50px;
    }
    #tit3,#res
    {
      position:absolute;
    }
    #tit4
    {
      margin-left:70px;
      font-weight:bold;
    }
    #tit5
    {
      text-align: center;
      font-weight:bold;
      font-size:25px;
    }
    #h
    {
      margin-top:20px;
    }
    #datos
    {
      color:yellow;
      padding-left:95px;
    }
    #res,#datos
    {
      background-color:#7c870d;
    }
